.about-container{
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  div{
    p{
      a{
        text-decoration: none;
        color: rgb(160, 184, 236);
      }
    }
  }
}
.links-header{
  text-align: center;
}

.links{
  width: 100%;
  text-align: center;
  a{
    margin-right: 8px;
  }
}