.about-container{
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  div{
    p{
      a{
        text-decoration: none;
        color: rgb(160, 184, 236);
      }
    }
  }
}
.links-header{
  text-align: center;
}

.about-under-construction{
  transition: opacity 1s ease-out;
  background: rgba(0, 0, 0, 0.507);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  div{
    background: #bf8edf;
    width: 400px;
    margin: 25% auto;
    p{
      padding: 50px;
      text-align: center;
      button{
        border: none;
        padding: 10px;
      }
    }
  }
}

.testPhase1{
  opacity: 0;
}

.test{
  display: none;
}

.links{
  width: 100%;
  text-align: center;
}