$bg-base: #bf8edf;
$base-green: #7effa7;

.App{
  width: 100%;
  background: $bg-base;
  color: $base-green;
  .bg{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    .left{

    }
    .right{
      float: right;
    }
    .bg-gradient{
      position: absolute;
      width: 100vw;
      z-index: 0;
      opacity: .6;
      height: 100vh;
      top: 0;
      background-image: linear-gradient(45deg, #290a59, #ff7c00);
    }
  }
  .container{
    max-width: 1200px;
    display: grid;
    height: 100vh;
    grid-template-columns: 30% 70%;
    overflow: hidden;
    margin: 0 auto;
    .menu-container{
      display: grid;
      align-items: center;
      position: relative;
      z-index: 1;
      border-right: 2px solid black;
      .menu-position{
          .menu{
            position: relative;
            text-align: center;
            font-size: 1.1em;
            padding-top: 1em;
            padding-bottom: 1em;
            z-index: 1;
          }
          .menu:hover{
            background: rgba(63, 63, 63, 0.199);
          }
          a{
            text-decoration: none;
            color: $base-green;
          }
      }
    }
    .display-container{
      display: grid;
      align-items: center;
      justify-content: center;
      z-index: 1;
      position: relative;
    }
  }
}